.tab-resumo{
  margin-top: 20px;
  width: 95%;
}

.tab-resumo .tab{
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  border-color: rgb(199, 201, 201);
}

.tab-resumo .th {
  width: 50%;
  height: 30px;
  border: 1px solid;
  border-color: rgb(199, 201, 201);
}

.tab-resumo .td {
  width: 50%;
  height: 30px;
  border: 1px solid;
  border-color: rgb(199, 201, 201);
  padding-left: 10px;
}

.tab-resumo .td-valor-despesa {
  color:red;
  font-weight: bold;
  width: 50%;
  height: 30px;
  border: 1px solid;
  border-color: rgb(199, 201, 201);
  text-align:right;
  padding-right: 10px;
}

.tab-resumo .titulo {
  font-size:18px;
  font-weight:bold;
  margin-bottom: 10px;
}

.tab-resumo .td-valor-receita {
  color:green;
  font-weight: bold;
  width: 50%;
  height: 30px;
  border: 1px solid;
  border-color: rgb(199, 201, 201);
  text-align:right;
  padding-right: 10px;
}

.tab-resumo .tr-saldo {
  background-color: rgb(241, 241, 241);
  color:black;
  font-weight: bold;
  height: 30px;
  font-size: 19px;
}

.tab-resumo .tr-saldo .td-texto {
  text-align: left;
  padding-left: 10px;

}

.tab-resumo .tr-saldo .td-valor {
  text-align: right;
  padding-right: 10px;
}


