.container-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(254, 255, 255);;
  margin: auto;
  margin-top: 10px;
  width: 70%;
  border-radius: 12px;
  box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.container-app .busca-mes{
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content:end;
  align-items: center;
  width: 95%;
  height:40px;
  margin-top:30px;
  padding: 10px;
}

.container-app .total{
  display: flex;
  justify-content:space-around;
  width: 95%;
}

.container-app .charts{
  display: flex;
  justify-content:space-around;
  width: 95%;
  margin-top:50px;
  margin-bottom: 30px;
}